@media screen and (max-width: 1610px) {
    .header-content p { font-size: 20px; }
    .header-content span { font-size: 13px; }
}

@media screen and (max-width: 1376px) {
    .about-content h2 { font-size: 4vw; }
    .about-content p { width: 700px; text-align: center; }
    #Info .container, .price-group { flex-wrap: wrap }
}

@media screen and (max-width: 1034px) {
    header { height: 60vh; }
    .header-content p { font-size: 18px; }
    li { font-size: 12px; }
    .price-group { justify-content: center; width: 600px; }
    .price-block { margin-bottom: 20px; }
    .form-subscribe h2 { font-size: 23px; }
    .btn_f:before { width: 900px; }
    .play-comment { font-size: 40px; }
    #Video { height: 45vh; }
}

@media screen and (max-width: 970px) {
    .form-subscribe { flex-direction: column; }
    .form-subscribe h2 { margin-bottom: 20px; }
}

@media screen and (max-width: 780px) {
    .burger { display: block; }

    .header-content { width: 100%; }
    nav { display: none; }
    form input:first-child { width: 190px; }
    form input:last-child { width: 100px; font-size: 12px; }
    .form-subscribe h2 { font-size: 17px; }
    .btn_f:before { width: 650px;}
    .about-content p { width: 500px; }
    .about-content h2 { font-size: 35px; }
}

@media screen and (max-width: 610px) {
    .btn_f:before { width: 500px; height: 3px; }
    .btn { padding: 15px 40px; }
    .footer-social { flex-direction: column; align-items: center; text-align: center; }
    .address { margin: 20px 0; }
    .price-block { margin: 5px; }
    .price-group { margin-bottom: 60px; width: 580px; }
    #Clients .container h1, #Pricing .container h1 { margin-top: 50px; }
    .header-content p { font-size: 16px; }
    .header-content span { font-size: 11px; }
    .big-img img { width: 550px; }
    header { height: 50vh; }
    .about-content p { width: 400px; }
    #About { height: 250px; }
    .btn_main p { margin-top: -20px; }
    .header-top { padding: 0 50px; justify-content: space-between; }
}

@media screen and (max-width: 580px) {
    .left-column .img-holder { display: none; }
    .left-column { margin-left: 0; }
    .price-group { width: 555px; }
    .btn_f:before { width: 0; }
}

@media screen and (max-width: 425px) {
    #Clients .container h1, #Pricing .container h1 { font-size: 30px; }
    .feedback { width: 400px; }
    .img-outer { top: 5%; }
    .btn_footer p { text-align: center; }
    .text-holder { width: 320px; text-align: center; }
    .text-holder p { width: inherit; }
    .text-holder { margin-left: 0; }
    .big-img img { width: 400px; }
    .price-group { width: 400px; }
}

@media screen and (max-width: 385px) {
    .about-content p { width: 295px; }
    .price-group { width: 320px; }
    #Clients .container { width: 310px; }
    #Clients .container h1 { text-align: center; }
}

@media screen and (max-width: 325px) {
    .form-subscribe { text-align: center; }
    form input:first-child { width: 145px; }
    .big-img img { width: 280px; }
    .text-holder { width: 300px; }
    .header-top { padding: 0 20px; }
    header { height: 70vh; }
    .header-content p { font-size: 15px; }
    .btn_main { width: 280px; }
    .header-content h1 { font-size: 8vw; }
    .about-content h2 { font-size: 9vw; margin-top: 50px; }
}
