@media (max-width: 1199px) {
    .display-2 {
        font-size: 4rem;
    }

    .lead {
        font-size: 1rem;
    }
}

@media (max-width: 1030px) {
    .display-2 {
        font-size: 4rem;
    }
}

@media (max-width: 991px) {
    .display-2 {
        font-size: 3.7rem;
    }

    .lead {
        font-size: .9rem;
    }
}

@media (max-width: 767px) {
    .display-2 {
        font-size: 2.7rem;
    }

    .lead {
        font-size: .7rem;
    }
}